# file
*.pyc
*.xml
.gitattributes
api_github.json
build.bat
config.yaml
desktop.ini
Onmyoji_Python.code-workspace
Onmyoji_Python.exe

# dir
.idle
.idea
.vscode
build
cache*
dist
doc
log
test_code
wiki
